.movie {
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: all linear 0.12s;
  max-width: 215px;
  min-width: 215px;
}
.movie:hover {
  transform: scale(1.05);
}
.poster {
  height: 325px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster img {
  height: 100%;
  width: 215px;
  border-radius: 10px;
}

.info {
  width: 215px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.info .title {
  padding: 0;
}

.info .title h4 {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.info .metaInfo .year {
  padding: 0;
  margin: 5px 0;
  font-size: 12px;
}

.info .metaInfo .ranking {
  padding: 0;
  font-size: 12px;
}

.info .metaInfo .year span,
.info .metaInfo .ranking span {
  color: white;
}
